@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0; /* tira as magens da tela*/
    padding: 0;
}


body {    
    /* height: 100vh;  tamanho da tela sem usar scroll */
    box-sizing: border-box; /* mantem td dentro da tela */
    background-color: black;
    color:white;
}

.cabecalho {
    padding: 2% 0 0 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color:#22d4d4;    
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #007bff;
}

.titulo-destaque {
    color: cyan;
}

.apresentacao {
    padding: 5% 15%;
    display: flex; /* or inline-flex */
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentaca__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteu__titulo {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

.apresentacao__conteu__texto {
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links__subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao__links__navegacao {
    /*background-color: #22d4fd;*/
    border: 2px solid #22d4d4;
    width: 50%; /*largura do botao*/
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0; /* texto dentro do botao */
    text-decoration: none; /* tira sublinhado*/
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}
.apresentacao__img {
    width: 40%;
}

.rodape {
    color: black;
    background-color: #22D4FD;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    padding: 24px;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .cabecalho {
        padding: 10%;
    }
    .cabecalho__menu {
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentaca__conteudo {
        width: 100%;
    }
}